<div class="site-config__data">
    <div>
      <div>Закрепленные блоги:</div>
      <% if pinned_blogs.any? %>
        <% pinned_blogs.each do |article| %>
          <span> <%=link_to(article.title, admin_blog_article_path(article)) %> </span>
        <% end %>
      <% end %>
    </div>
    <div>
      <div>Блоги в центре внимания:</div>
      <% if spotlight_blogs.any? %>
        <% spotlight_blogs.each do |blog| %>
          <span> <%=link_to(blog.title, admin_blog_article_path(blog)) %> </span>
        <% end %>
      <% end %>
    </div>
    <div>
      <div>Главные блоги:</div>
      <% if main_blogs.any? %>
        <% main_blogs.each do |article| %>
          <span> <%=link_to(article.title, admin_blog_article_path(article)) %> </span>
        <% end %>
       <% end %>
    </div>
    <div>
      <div>Продвигаемые блоги:</div>
      <% if promoted_blogs.any? %>
        <% promoted_blogs.each do |blog| %>
          <span> <%=link_to(blog.title, admin_blog_article_path(blog)) %> </span>
        <% end %>
      <% end %>
    </div>
</div>