%div{ class: "article-content" }
  %span{class: "article-content__title"} Текст статьи
  = f.input :body, :input_html => { id: :article_body }
  = f.input :body, :input_html => { id: :quill_editor_input }, as: :hidden
