%link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.7.1/css/all.css", :integrity => "sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", :rel => "stylesheet"}/
%div{ class: "article-content" }
  %span{class: "article-content__title"} Текст статьи
  #my-external-toolbar
  = f.input :body, label: false, :input_html => { id: :article_body }
