// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
//= require quill/dist/quill.js
@import "quill.core.css";
@import "quill.snow.css";
@import "katex/dist/katex.css";
// @import 'activeadmin/quill_editor_input';
// @import 'activeadmin/trumbowyg/ui/sass/trumbowyg';
// @import 'activeadmin/trumbowyg_input';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
img {
  height: 300px;
  width : 300px;
}
.ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  min-height: 600px;
  outline: none;
  overflow-y: auto;
  padding: 0;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: white;

}
.ql-editor sup {
  vertical-align: super;
}
.ql-editor sub {
  vertical-align: sub
}
input #quill_editor_input {

  display: none !important;

}