// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "activeadmin_addons/all";
@import "quill/dist/quill.core";
@import "quill/dist/quill.snow";
@import "katex/dist/katex";
@import "../../../javascript/src/assets/fonts.css";
@import "chosen";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
img {
  width : 100%;
}

.inputs img {
  max-width: 300px !important;
}

.ql-container {
  max-height: 601px;
  overflow-y: auto;
}
.ql-editor sup {
  vertical-align: super;
}
.ql-editor sub {
  vertical-align: sub
}

.info-column {
  max-width: 218px;
  width: 100%;
  margin-top: 90px;

  font-size: 12px;
  line-height: 14px;
}

.info-column__item {
  margin-bottom: 11px;
}

.info-column__data {
  font-style: italic;
}

.tag {
  display: inline-block;
  text-decoration: underline;
  margin-left: 5px;

  &:not(:last-child) {
    &::after {
      content: ',';
    }
  }
}

.main-description {
  margin-top: 66px;
  padding-bottom: 56px;
}

.main-description .container {
  display: flex;
  justify-content: space-between;
}

.foto-column {
  max-width: 254.43px;
  width: 100%;
  position: relative;
  min-height: 321px;
}

.foto-column__poster {
  max-width: 254.43px;
  width: 100%;
  height: 321.17px;

  margin-top: 8px;

  img {
    display: block;
    width: 100%;
  }
}


.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  z-index: 1;

  span {
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 24px;
    color: #aaaaaa;
  }
}

.desc-column {
  max-width: 622px;
  width: 100%;
  overflow: hidden;

  p {
    font-family: Times-Roman;
    color: #515666;
  }

  .desc-column__title {
    font-family: LucidaGrande-Bold;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 46px;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 15px auto;
  }

  blockquote {
    padding-left: 16px;
    border-left: 3px solid #ccc;
    color: #666;
    margin: 15px 0;
  }
}

.close-popup {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 18px;
  cursor: pointer;
}

.container {
  position: relative;
  overflow: hidden;

  max-width: 1280px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.quickview-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: #fff;
  overflow-y: auto;
  color: #505666;
  font-size: 16px;

  p {
    font-family: Times-Roman, Georgia;
    line-height: 1.42;
  }
}

.js-quickview {
  cursor: pointer;
}

.img-title-block {
  cursor: pointer;
}

.title-image {
  font-weight: lighter;
}

.ql-snow.ql-toolbar .ql-showHtml {
  width: auto;
  color: #000;
  text-shadow: none;
}

.ql-snow.ql-toolbar .ql-titleImg {
  white-space: nowrap;
  width: auto;
  color: #000;
  text-shadow: none;
}

.ql-titleImg:after {
  content: "Title img";
}

.ql-snow.ql-toolbar .ql-contentImg {
  white-space: nowrap;
  width: auto;
  color: #000;
  text-shadow: none;
}

.ql-contentImg:after {
  content: "Content img";
}


#ephox_article_body {
  width: 100% !important;
  height: 90vh !important;
}

p {
  margin-bottom: 40px !important;
}


#news_article_body_input label {
  display: none !important; 
}